@require('../../assets/styles/vars.styl')
@require('../../assets/styles/font-awesome.css')

.pharmacy-list
  padding-bottom $footer-nav-height !important

  &__header
    width 90%
    padding 0 5vw
    text-align center

    &__filter-input
      width 90%
      height 30px
      font-size 18px
      margin 0 auto

    &__results
      color $brown
      font-size 14px

.pharmacy-list__list
  list-style none
  list-style-type none
  padding 0
  position relative
  width 100%

  &__item
    box-sizing border-box
    color lighten($green, 7%)
    display block
    font-family Lato
    font-size 14px
    font-weight bold
    padding 20px
    text-decoration none
    width 100%

    &:nth-of-type(odd)
      background-color alpha($green, 15%)

    &--name
      font-size 18px

    &--phone-number
      padding 10px 0
      a
        text-decoration none
        color $green
        padding 1em 0
        font-size 18px
        z-index 1000
        
        &:before
          content '\f095'
          font-family FontAwesome
          padding-right 1em
          font-size 18px
