@require('../../assets/styles/vars.styl')

html
  background $off-white
  height 100%

body
  font-family Lato
  margin 0

h1
  color $brown
  font-size 24px

a
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color transparent

.page
  box-sizing border-box
  padding 0 5vw
  text-align center

.page-header__title
  color $brown
  font-family Lato
  font-size 24px
