.menu
  width 80vw
  text-align center

  &__item
    background-color $green
    font-size 18px
    width 100%
    display block
    padding-bottom 20px

    &--doctors
      background-color lighten(#3a6168, 25%)

    &--hospitals
      background-color lighten(#3a6168, 15%)

    &--pharmacies
      background-color lighten(#3a6168, 5%)
