@require('../../assets/styles/vars.styl')

.menu
  text-align center

  &__link
    text-decoration none
    width 100%

    &:active &__item
      box-shadow none
      -webkit-transform scale3d(.97, .97, 1)

  &__link__item
    background-color $green
    border-radius 15px
    box-shadow 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
    color $white
    display table
    font-size 24px
    height 20vh
    margin-bottom 5vh
    text-align center
    vertical-align middle
    width 100%
    & span
      display table-cell
      height 24px
      vertical-align middle

    &--doctors
      &::before
        content 'a'

    &--hospitals
      &::before
        content 'b'

    &--pharmacies
      &::before
        content 'c'

    &::before
      display table-cell
      font-family 'clearview'
      font-size 36px
      height 36px
      vertical-align middle
      width 36px
