@require('../../assets/styles/vars.styl')

.menu
  width 80vw
  text-align center

  &__link__item
    background-color $green
    font-size 18px
    width 100%
    display block
    padding-bottom 20px

    &--doctors
      background-color lighten($green, 25%)

    &--hospitals
      background-color lighten($green, 15%)

    &--pharmacies
      background-color lighten($green, 5%)
