$white = #fff
$off-white = #fffcf7
$tan = #f4ede1
$green = #3a6168
$brown = #630
$light-brown = #a08167

$footer-nav-height = 50px

@font-face
  font-family Lato
  font-style normal
  src url(/assets/fonts/Lato-Regular.ttf)

@font-face
  font-family clearview
  font-style normal
  src url(/assets/fonts/clearview.ttf)

@font-face
  font-family FontAwesome
  font-style normal
  font-weight normal
  src url(/assets/fonts/fontawesome-webfont.ttf)
